.main-nav{
margin-top: -15px;    
width: 100%;
background-color: white;
height: 70px;
z-index: 100;

}
.flag{
    margin-right: 50px;
    margin-top: 25px;
    
}
.intro-stuti{
    width: 100%;
    height: 50px;
    background-color:#06619a;
    text-align: center;
    font-weight: bolder;
    padding: 5px; 
    color: white;
    font-size: x-large;
    }
.permanent-para1{
 
font-size: large;
text-align: left;
line-height: 40px;
margin-top: 30px;
/* padding-left: 220px;  */
/* padding-right: 120px; */
width: 90%;

}
.one-line{
   text-align: center;
   font-size: xx-large;
   margin-top: 20px;
}
.perma-cat{
display: grid;
grid-template-columns: 300px 300px 300px;
justify-content: center;
margin-top: 50px;
gap: 50px;
position: relative;
z-index: -1;
margin-bottom: 300px;
}
.cat-one{
border: 1px solid black;
height: auto;
text-align: center;
line-height: 40px;
padding: 5px;
background-color: aliceblue;
}
.cat-two{
border: 1px solid black;
height: auto;
text-align: center;
line-height: 40px;
padding: 5px;
background-color: aliceblue;
}
.cat-three{
border: 1px solid black;
height: auto;
text-align: center;
line-height: 40px;
padding: 5px;
background-color: aliceblue;
}
h2{
    background-color: deepskyblue;
    color: rgb(255, 255, 255);
    height: 100px;
   

}
.bgimg{
position: absolute;
margin-top: -500px;
z-index: -5;
margin-left: 700px;
opacity: .50;
}
.footer{
z-index: 1;

}
.highlight{
    color: midnightblue;
    font-size: larger;
    font-weight: bolder;
}

.perm-3{
    font-size: large;
    line-height: 30px;
    }
       .intro-stuti{
        width: 100%;
        height: 50px;
        background-color:#06619a;
        text-align: center;
        font-weight: bolder;
        padding: 5px; 
        color: white;
        font-size: x-large;
    }
        .permanent-para4{
    /* margin-left: 200px;   */
    /* padding: 50px; */
    line-height: 50px;
    font-size: large;
    margin-top: -280px;
    }
        .perm-para5{
    /* margin-left: 200px;         */
    /* padding: 50px; */
    line-height: 50px;
    font-size: large; 
    margin-top: -50px;             
    }
    .highlight{
        color: midnightblue;
        font-size: larger;
        font-weight: bolder;
    }
     .image-back{
    margin-left: 600px; 
       z-index: 10;
    
    } 
    .long{
        padding: 15px;
    }
    
.bgimg{
justify-content: center;
display: none;

}
.footer-inside{
    width: 100%;
    background-color: rgb(29, 152, 245);
    height: 500px;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 100px;
    padding:50px 0  50px 0;
    justify-content: center;
    
    }
    .side-left{
    /* background-color: rgb(177, 135, 135); */
    
    }
    .side-right{
     /* background-color: rgb(234, 224, 224); */
     
    }
     .info{
        margin-top: 18px;
    text-align: center;
    font-size: x-large;
    color: white;
    justify-content: center;
    width: 420px;
    padding-left: 100px;
    line-height: 30px;
     }
     .form{
    padding: 10px;
    margin: auto;
    /* border: 1px solid black; */
    color: white;
     }
    .footer-menu{
    display: block;
    margin: -125px auto;
    /* margin-right: 200px; */
     }
     .footer-menu a{
    text-decoration: none;
    color: white;
    
     }
     .footer-item{
        color: white;
     }
    .submit-this a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
