.para-1{
    margin-top: 270px;
    
    
    }
    .stress{
    text-decoration: underline;
      font-size:  30px;  

    }
    .image-back1{
float: right;


    }
    .permanent-para4{
 padding-top:50px; 


    } 